li {
    list-style-type: none; 
}

ul {
    margin-left: 0; 
    padding-left: 0; 
}

.post-mini-body {
    margin-bottom: 5px;
}

.post-mini-title {
    text-align: center;
    font-size: 25px;
    margin: 13px;
}

.post-mini {
    padding: 5px;
}

.post-mini-body {
    font-size: 18px;
}
